name: PlatformIO CI

# GitHub Actions 的工作流语法 : https://docs.github.com/zh/actions/writing-workflows/workflow-syntax-for-github-actions

on:
  push:
    paths: # 推送以下文件时，就会运行工作流
      - "examples/**"
      - ".github/workflows/platformio.yml"
      - "platformio.ini"

jobs:
  build:
    runs-on: ubuntu-latest  # 指定的运行器环境中运行 [ubuntu-latest, macos-latest, windows-latest]
    strategy:
      matrix:
        example: 
          - examples/factory
          - examples/A7682E/test_AT
          - examples/A7682E/bq25896_shutdown
          - examples/test_BHI260AP
          - examples/test_EPD
          - examples/test_GPS
          - examples/test_keypad
          - examples/test_lora_recv
          - examples/test_lora_send
          - examples/test_LTR_553ALS
          - examples/test_lvgl
          - examples/test_pcm5102a
          - examples/test_sd
          - examples/test_touchpad
          - examples/test_wifi

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
        
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Run PlatformIO
        run: |
          export PLATFORMIO_SRC_DIR=${{ matrix.example }}
          pio run
